<template name="contextMenu">
  <div id="contextMenu">
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Task Name" id="first_name" type="text" class="validate">
          <label for="first_name">Task Name</label>
        </div>
        <div class="input-field col s6">
          <input type="date" class="datepicker" id="datepicker">
          <label for="datepicker">Last Name</label>
        </div>
      </div>
      <div class="row">

    <label>Priority</label>

        <div class="input-field col s12">
          <select class="browser-default">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
          </select>
        </div>
      </div>

    </form>
  </div>


  </div>
</template>
