<template name="footer">
    <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Backlog is a web app that prioritizes task lists designed for people with many tasks and have sporadic time to accomplish those tasks.
          </p>


        </div>
        <div class="col l6 s12 right-align">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Service</a></li>
            <li><a class="white-text" href="#!">Blogs</a></li>
            <li><a class="white-text" href="#!">Contact Us</a></li>
            <li><a class="white-text" href="#!">Careers</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Backlog</a>
      </div>
    </div>
  </footer>

</template>
