<template name="taskList">
  <div id="taskList">
    <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Your work: </h1>
      <div class="row center">
        <h5 class="header col s12 light"> </h5>
      </div>

        <table>
        <thead>
          <tr>
              <th data-field="tasks">Tasks</th>
              <th data-field="priority">Priority</th>
              <th data-field="duedate">Due Date</th>
              <th data-field="esttime">Est. Time</th>
          </tr>
        </thead>

        <tbody>
          {{ #each tasks }}
            {{ > row }}
          {{ /each }}

        </tbody>
      </table>

      </div>

      <br><br>

    </div>

  </div>


</template>


<template name="row">
  <tr>
    <td class="Name">{{Task._id}}</td>
    <td class="Priority">{{Task._priority}}</td>
    <td class="Date">{{Task._deadline}}</td>
    <td class="Time">{{Task._estTime}}</td>
    <!--<span class="amtTime">Time Left: {{amtTime}}</span>
    <form class="submitTime"><input type="text" name="submitTime" placeholder="submit time"></form>
    <button class="delete">&times;</button>-->
  </tr>
</template>


<template name="example">
  <span>hello</span>
</template>
