<template name="taskList">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Your work: </h1>
      <div class="row center">
        <h5 class="header col s12 light"> </h5>
      </div>

        <table>
        <thead>
          <tr>
              <th data-field="tasks">Tasks</th>
              <th data-field="priority">Priority</th>
              <th data-field="duedate">Due Date</th>
              <th data-field="esttime">Est. Time</th>
          </tr>
        </thead>

        <tbody>
          {{ #each rows }}
            {{ > row }}
          {{ /each }}
          <!--<tr>
            <td>Math Homework</td>
            <td>High</td>
            <td>09/25/2015</td>
            <td>1.5 hrs</td>
          </tr>
          <tr>
            <td>SD&D Report</td>
            <td>Medium</td>
            <td>10/02/2015</td>
            <td>3 hrs</td>
          </tr>
          <tr>
            <td>Prepare Resume</td>
            <td>Low</td>
            <td>N/A</td>
            <td>0.5 hrs</td>
          </tr>
          <tr>
            <td>Study for Physics Test</td>
            <td>High</td>
            <td>10/07/2015</td>
            <td>4 hrs</td>
          </tr>-->
        </tbody>
      </table>



      <h5 class="header center orange-text inline">You have: <i class="material-icons left" >query_builder</i></h5>
        <a class="waves-effect waves-light btn">15mins</a>
        <a class="waves-effect waves-light btn">30mins</a>
        <a class="waves-effect waves-light btn">1hour</a>
        <div class="chip">
          18mins
          <i class="material-icons"></i>
        </div>
      </div>

      <br><br>

    </div>

</template>


<template name="row">
  <tr>
    <td class="Name">{{Name}}</td>
    <td class="Priority">{{Priority}}</td>
    <td class="Date">{{Date}}</td>
    <td class="Time">{{Est}}</td>
    <!--<span class="amtTime">Time Left: {{amtTime}}</span>
    <form class="submitTime"><input type="text" name="submitTime" placeholder="submit time"></form>
    <button class="delete">&times;</button>-->
  </tr>
</template>


<template name="example">
  <span>hello</span>
</template>
