
.overdue {
    background-color: tomato;
    font-weight:bold;
}

.error {
  color: red;
}

.complete {
    background-color: springgreen;
}

#backlog-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

