<template name="addTaskDisplay">
  <div id="addTaskModal" class="modal center">
    <div class="modal-content">

        <form id="addTaskForm">
            <div class="col offset-s1 s10 center">
              <input type="text" placeholder="Enter task name" name="name" id="task-name" autocomplete="off" class="validate">
            </div>


            <div class="col offset-s1 s10 center">
              <select name= "priority" id="task-priority" class="browser-default">
                <option value="" disabled selected>Choose your priority</option>
                <option value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
              </select>
            </div>



            <div class="col offset-s1 s10 center">
              <input type="text" placeholder="Choose the deadline" name="date" id="datepicker"/>
            </div>



            <div class="col offset-s1 s10 center">
              <p class="range-field">
                <p>
                  <label for="est">Estimated Time</label>
                  <input type="text" name="est" id="task-est-time" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="slider"></div>
              </p>
            </div>


            <div class="col offset-s1 s10 center">
              <label for="task-details" class="left">Task Details (Optional)</label>
              <textarea name="task-details" id="task-details" class="materialize-textarea"></textarea>
            </div>


            <div class="col offset-s1 s10 center">
              <button class="btn waves-effect waves-light" id="submit-new-task" type="submit" name="submit-new-task">Submit
              <i class="material-icons right">send</i>
              </button>

              <button class="btn waves-effect waves-light" id="remove-new-task" type="submit" name="remove-new-task">Cancel
                <i class="material-icons right">clear_all</i>
              </button>
            </div>

      </form>



    </div>

  </div>
</template>
