<template name="taskList">
  <div class="section">
    <br><br>
    <h1 class="header center orange-text">Your Work</h1>
    <div class="section s12"  id="taskList">
      <div class=" scroll">
        <table class="responsive-table highlight centered">
          <thead>
          <tr>
              <th data-field="tasks">Tasks</th>
              <th data-field="priority">Priority</th>
              <th data-field="duedate">Due Date</th>
              <th data-field="esttime">Est. Time</th>
              <th date-field="time-spent">Time Spent</th>
              <th date-field="time-remaining">Work Remaining</th>
              <th data-field="delete">Delete Task</th>
              <th data-field="complete">Complete</th>
            </tr>
          </thead>
          <tbody>
            {{ #each tasks }}
              {{ > taskInfo }}
            {{ /each }}
          </tbody>
        </table>
      </div>
      <br><br>
    </div>
  </div>

</template>


<template name="taskInfo">
  <tr class="taskRow {{ taskStyle(this) }}">
    <td class="task-name" contentEditable="true">{{ taskName }}</td>
    <td class="priority">{{ priority }}</td>
    <td class="date">{{ deadline.toDateString }}</td>
    <td class="est-time" contentEditable="true">{{ estTime }}</td>
    <td class="time-spent" contentEditable="true">{{ timeSpent }}</td>
    <td class="time-remaining">
      <a class="btn-floating waves-effect waves-light blue add-time-est">
        <i class="material-icons">add</i>
      </a>
      &nbsp; {{ timeRemaining }} &nbsp;
      <a class="btn-floating waves-effect waves-light blue add-time-spent">
        <i class="material-icons">remove</i>
      </a>
    </td>
    <td class="Delete">
      <a class="waves-effect waves-teal btn-flat delete-task">
        <i class="material-icons">delete</i>
      </a>
    </td>
    <td class="Complete">
      <a class="waves-effect waves-teal btn-flat complete-task">
        <i class="material-icons">done</i>
      </a>
    </td>

  </tr>
</template>
