<template name="taskSummary">
  <!--{{#Layout template="siteLayout"}}
    {{#Layout template="userBoard"}}-->
  <div id="taskSummary" class="container">
    <br><br>
    <h1 class="header center orange-text">Your Work Summary </h1>


    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-black-text"><i class="large material-icons">today</i></h2>
            <h5 class="center"><span class="blue-text text-darken-2">{{ taskCount }} </span> Total Tasks</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-black-text"><i class="large material-icons">query_builder</i></h2>
            <h5 class="center">Due in <span class="blue-text text-darken-2">{{ earliestDue }}</span> days</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-black-text"><i class="large material-icons">view_module</i></h2>
            <h5 class="center"><span class="blue-text text-darken-2">{{ workLoad }}</span> hrs Work Load. </h5>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  <!--  {{ /Layout }}
  {{ /Layout }}-->
</template>
