<template name="taskList">
    <div class="section no-pad-bot" id="index-banner">
    <div class="container"  id="taskList">
      <br><br>
      <h1 class="header center orange-text">Your work: </h1>
      <div class="scroll">

        <table class="responsive-table">
          <thead>
            <tr>
              <th data-field="tasks">Tasks</th>
              <th data-field="priority">Priority</th>
              <th data-field="duedate">Due Date</th>
              <th data-field="esttime">Est. Time</th>
              <th data-field="delete"></th>
            </tr>
          </thead>
        <tbody>
          {{ #each tasks }}
            {{ > taskInfo }}
          {{ /each }}
        </tbody>


      </table>
      </div>
      </div>

      <br><br>
  </div>

</template>


<template name="taskInfo">
  <tr>
    <td class="Name">{{ task.taskId }}</td>
    <td class="Priority">{{ task.priority }}</td>
    <td class="Date">{{ task.deadline.toDateString }}</td>
    <td class="Time">{{ task.estTime }}</td>
    <td class="Delete"><a class="waves-effect waves-teal btn-flat" id="delete-task">
      <i class="material-icons">delete</i>
    </a></td>
    <!--<span class="amtTime">Time Left: {{amtTime}}</span>
    <form class="submitTime"><input type="text" name="submitTime" placeholder="submit time"></form>
    <button class="delete">&times;</button>-->
      <!-- Modal Structure -->
    <!-- <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div> -->
  </tr>
</template>
