<template name="tutorial">

    <div class="container">
      <br><br>
      <div class="section">
        <h1 class="header center orange-text">Do it tomorrow, today!</h1>
        <div class="row center">
          <h5 class="header col s12 light">Backlog is your application to get work done efficiently.</h5>
        </div>
      </div>
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="medium material-icons">flash_on</i></h2>
              <h5 class="center">Manage Your Tasks</h5>
              <p class="light">Backlog is a web app that prioritizes task lists designed for people with many tasks and have sporadic time to accomplish those tasks. </p>
            </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="medium material-icons">group</i></h2>
            <h5 class="center">Stay Focused</h5>
            <p class="light">Backlog keeps track of the your progress on a certain task and suggests a task to work on for any given duration that the user can spare. This decreases mental overhead when choosing between tasks to do and keeps track of your overall activity.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="medium material-icons">settings</i></h2>
            <h5 class="center">Easy to Work with</h5>
            <p class="light">We have provided friendly UI to help new users get started. We are also always open to feedback and can answer any questions a user may have about Backlog.</p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>

</template>
