<template name="userSummary">

<div class="section no-pad-bot" id="index-banner">
  <div class="container">

    <div id="addBoard">
      {{ > addTaskDisplay }}
    </div>

    {{#if displayTaskSummary}}
      {{ > taskSummaryBoard }}
    {{else}}
      {{ > taskList }}
    {{/if}}

    <div id="taskBoard">
      <div class="switch">
        <label>
          Off
          <input type="checkbox" id="switchBox">
          <span id="switchSummary" class="lever"></span>
          On
        </label>
      </div>
    </div>

  <div id="timeSlotBoard">
      <i class="material-icons left" >query_builder</i>
      <a class="waves-effect waves-light btn">15mins</a>
      <a class="waves-effect waves-light btn">30mins</a>
      <a class="waves-effect waves-light btn">1hour</a>
      <!-- Bo's question: why use different styles? -->
      <div class="chip">
        15 mins
        <i class="material-icons"></i>
      </div>
    </div>
  </div>

</div>

</template>
