<template name="userBoard">

  <div class="container">
    <br><br>
    <div class="row">
      <a class="btn-floating btn-large waves-effect waves-light red right modal-trigger" href="#addTaskModal">
         <i class="material-icons" id="add-task-button">add</i>
      </a>
      <div class="switch">
        <label>
          Summary
          <input type="checkbox" id="switchBox">
          <span id="switch-summary" class="lever"></span>
          Tasks
        </label>
      </div>
    </div>

    {{ > addTaskDisplay }}

    {{ > yield }}  

    {{ > timeSlotBoard }}
    <!--
    {{ > addTaskDisplay }}


    {{#if displayTaskSummary}}
      {{ > taskSummary }}
    {{else}}
      {{ > taskList }}
    {{/if}}

    {{ > timeSlotBoard }}-->
  </div>

</template>
