<template name="userSummary">

<div class="section no-pad-bot" id="index-banner">
  <div class="container">

    <div id="timeSlotBoard">
      <i class="material-icons left" >query_builder</i>
      <a class="waves-effect waves-light btn">15mins</a>
      <a class="waves-effect waves-light btn">30mins</a>
      <a class="waves-effect waves-light btn">1hour</a>
      <!-- Bo's question: why use different styles? -->
      <div class="chip">
        15 mins
        <i class="material-icons"></i>
      </div>
    </div>

    <div id="addBoard">
      <a class="btn-floating btn-large waves-effect waves-light red right">
        <i class="material-icons" id="add-task-button">add</i>
      </a>

      {{ > contextMenu }}

    </div>

    <div id="taskSummaryBoard">
            <br><br>
        <h1 class="header center orange-text">Your Work Summary </h1>
        <div class="row center">
          <h5 class="header col s12 light"> </h5>
        </div>
    <!--Gonna figure out how to do the collaposible later -bo-->

     <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons"></i>Total Tasks: {{ taskCount }}</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"></i>Earliest Due Date: {{ earliestDue }} Days</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"></i>Est. work load for the day: 2 hrs</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"></i>Est. work load for the week: 14 hrs</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>

      </ul>
    </div>

    <div id="taskBoard">
      <div class="switch">
        <label>
          Off
          <input type="checkbox" id="switchBox">
          <span class="lever"></span>
          On
        </label>
      </div>
      {{ > taskList }}

    </div>

  </div>
</div>

</template>
