<template name="userBoard">

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div id="add-board">
      {{ > addTaskDisplay }}
    </div>

    {{#if displayTaskSummary}}
      {{ > taskSummary }}
    {{else}}
      {{ > taskList }}
    {{/if}}

    <div class="switch">
        <label>
          Summary
          <input type="checkbox" id="switchBox">
          <span id="switch-summary" class="lever"></span>
          Tasks
        </label>
    </div>

  {{ > timeSlotBoard }}
  </div>
</div>

</template>
